<div class="row dn-page">
    <div class="col">
        <div class="row grid">
            <div class="col-md-12">
                <div class="card dn-title">
                    <div class="card-block">Votre modification de mot de passe</div>
                </div>                    
            </div>
        </div>

        <div class="row bottom-30 grid" >
            <div class= "col">
                <div class="card dn-content">
                    <div class="square square-top"></div>

                    <div class="card-block widget-body">
                    
                    <form [formGroup]="form" (ngSubmit)="resetPassword(form.value)">
                        <div class="row bottom-30 grid">
                            <div class="col-md-12">
                                <div class="card">
                                     <p class="text-right">* Champs obligatoires</p>
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>                    
                            </div>
                        </div>

                        <div class="row bottom-15 grid dn-left">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                <label for="password">Choisissez un nouveau mot de passe *</label>
                                <input [formControl]="password" class="form-control checking-field" type="password">
                                <span class="help-block" *ngIf="form.get('password').touched">
                                        <span class="text-danger" *ngIf="form.get('password').hasError('required')">Votre mot de passe est requis</span>
                                        <span class="text-danger" *ngIf="form.get('password').hasError('invalidPassword')">Votre mot de passe doit comporter au moins 8 caractères ainsi qu'une minuscule, une majuscule, un chiffre et un caractère spécial</span>
                                </span>
                                </div>
                           </div>
                        </div>
                        <div class="row bottom-15 grid dn-left">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                <label for="confirmPassword">Confirmez le nouveau mot de passe *</label>
                                <input [formControl]="confirmPassword" class="form-control checking-field" type="password">
                                <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                                        <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">La confirmation du mot de passe est requise</span>
                                        <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Vos mots de passe ne correspondent pas</span>
                                </span>
                                </div>
                             </div>
                        </div>
                        <div class="row grid bottom-30">
                             <div class="col-md-12">
                                <div class="form-group">
                                        <div><button [disabled]="!form.valid" class="btn btn-info btn-rounded" type="submit">Je modifie mon mot de passe</button></div>                                    
                                </div>
                                <div *ngIf="error">
                                        <div class="alert alert-danger">{{error}}</div>
                                </div>              
                             </div>
                        </div>
                        <div class="row grid" *ngIf="success">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="alert alert-success">{{success}}</div>
                                    <p>Pour vous inscrire aux POCs ou consultez votre compte, identifiez-vous avec votre nouveau mot de passe :</p> 
                                    <div><button type="button" class="btn btn-info btn-rounded" (click)="login()">Je m'identifie</button></div>                                    
                                </div>                    
                            </div>
                        </div>
                </form>            

                </div>
                <div class="square square-bottom"></div>
                </div>
            </div>
        </div>
        <div><button type="button" class="btn btn-primary btn-rounded" routerLink="/">Retour au catalogue</button></div>
  </div>
</div>