/**** Colors (recommended use HEX colors) ****/ 
$main-color: #33394d;
$default-color:#fff; 
$dark-color: #000;

$body-bg-gradient-color-1: #1e5799;
$body-bg-gradient-color-2:  #a5c9e5;

$sidebar-bg-color:#344154;
$sidebar-item-active-bg-color: #637CA0;// #0099cc;

$primary-color: #005bbb;
$info-color: #fe5815;

$success-color: #2d922d;
$warning-color: #f79a17;
$danger-color: #bf1725;