<div class="row dn-page">
    <div class="col">
        <div class="row grid">
            <div class="col-md-12">
                <div class="card dn-title">
                    <div class="card-block">Mon compte </div>
                </div>                    
            </div>
        </div>

        <div class="row bottom-30 grid">
            <div class="col-md-6">
            <div class="card dn-btn-section">
                    <button type="button" class="btn btn-primary btn-block transition" [routerLink]="['/profile']">Mes infos</button>                            
                </div>                     
            </div>
            <div class="col-md-6">
                <div class="card dn-btn-section right">
                    <button type="button" class="btn btn-main btn-block transition inactive" [routerLink]="['/profile_pocs']">Mes sondes</button>                            
                </div>                        
            </div>
        </div>

        <div class="row bottom-30 grid">
            <div class= "col">
                <div class="card dn-content">
                    <div class="square square-top"></div>
                    <div class="card-block widget-body"> 
                        <form [formGroup]="form" (ngSubmit)="updateUser(form.value)">
                            <div class="row bottom-30 grid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <p class="text-right">* Champs obligatoires</p>
                                        <h5 class="text-primary">Informations de connexion</h5>
                                    </div>                    
                                </div>
                            </div>

                            <div class="row bottom-15 grid dn-left">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Mon adresse email *</label>                                        
                                            <input [formControl]="email" class="form-control checking-field" type="text">
                                            <span class="help-block" *ngIf="form.get('email').touched">
                                                <span class="text-danger" *ngIf="form.get('email').hasError('required')">Votre adresse email est requise</span>
                                                <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Votre adresse email n'est pas valide</span>
                                            </span> 
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Mon mot de passe</label>
                                        <p><button type="button" class="btn btn-link dn-link-button" data-toggle="modal" data-target="#password-modal">Je change mon mot de passe</button></p>
                                    </div>
                                </div>
                            </div>

                            <div class="square"></div>
                            <hr class="dn-hr">

                            <div class="row bottom-15 grid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <h5 class="text-primary">Informations personnelles</h5>
                                        </div>
                                    </div>                    
                                </div>
                            </div>

                            <div class="row bottom-15 grid dn-left">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastName">Mon nom *</label>                                        
                                        <input [formControl]="lastName" class="form-control checking-field" type="text">
                                        <span class="help-block" *ngIf="form.get('lastName').touched">
                                            <span class="text-danger" *ngIf="form.get('lastName').hasError('required')">Votre nom est requis</span>
                                            <span class="text-danger" *ngIf="form.get('lastName').hasError('invalidLastName')">Votre nom n'est pas valide</span>
                                        </span> 
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Mon prénom *</label>
                                        <input [formControl]="name" class="form-control checking-field" type="text">
                                        <span class="help-block" *ngIf="form.get('name').touched">
                                            <span class="text-danger" *ngIf="form.get('name').hasError('required')">Votre prénom est requis</span>
                                            <span class="text-danger" *ngIf="form.get('name').hasError('invalidName')">Votre prénom n'est pas valide</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="square"></div>
                            <hr class="dn-hr">

                            <div class="row grid" style="margin-top: 50px;">
                                <div class="col-sm-6">
                                    <div class="form-group" *ngIf="!success">
                                        <div><button [disabled]="!form.valid" class="btn btn-secondary btn-rounded" type="button" [routerLink]="['/profile']">J'annule les modifications</button></div>                                    
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" *ngIf="!success">
                                        <div><button [disabled]="!form.valid" class="btn btn-info btn-rounded" type="submit">Je valide les modifications</button></div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row grid">
                                <div class="col-md-12">
                                    <div *ngIf="error">
                                        <div class="alert alert-danger">{{error}}</div>
                                    </div>
                                    <div *ngIf="success">
                                        <div class="alert alert-success">{{success}}</div>
                                    </div> 
                                </div>
                            </div>
                        </form>
                </div>
                <div class="square square-bottom"></div>
            </div>
        </div>
    </div>
    <div><button type="button" class="btn btn-primary btn-rounded" routerLink="/">Retour à la page d'accueil</button></div>
  </div>
</div>     

<div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <user_edit_password></user_edit_password>
</div>