<div class="container">
    <div class="row">
         <div class="col-md-6 offset-md-3 p-t-10">             
             <div class="card">
                <div class="card-block text-center">
                    <h6 class="display-4 text-primary">Vous êtes perdu ?</h6>
                    <br />
                    <h6 class="card-title">La page que vous avez demandé n'existe pas.</h6>
                    <h6 class="card-text"> Retrouvez nos expérimentations :</h6>
                    <br />
                    <div><button type="button" class="btn btn-info btn-rounded" routerLink="/">Retour à la page d'accueil</button></div>
                </div>
             </div>
         </div>
    </div>
 </div>
